body {
  background-color: #f7f8fc;
  display: block;
  width: 100%;
  box-sizing: border-box;
  margin: auto;
}

* {
  /* font-family: 'Noto Sans JP' !important; */
  font-family: "Heebo", sans-serif !important;
}
